%h2 Refresh Features from Tracker

%p The application doesn't yet distinguish features from separate projects.  If you rerun this form with different project IDs, your features will all be mixed together in Roadmap (for now)

.div.refresh-form
  = form_tag(run_refresh_path, method: :put) do
    %p 
      %span API Key:
      = text_field_tag :api_token
    %p 
      %span Tracker Project ID:
      = text_field_tag :tracker_project_id
    %P
      %span Project ID:
      = text_field_tag :project_id
    = submit_tag 'Refresh DB w/latest from Tracker', 
      confirm: 'Are you sure?  This is synchronous for the moment'
