%h1 Listing projects

%table
  %tr
    %th Name
    %th Bundles
    %th Features
    %th Points this month
    %th Last Refreshed
    %th Tracker Project ID
    %th
    %th
  - @projects.each do |project|
    %tr
      %td= link_to project.name, project
      %td= link_to project.bundles.count, project_bundles_path(project)
      %td= link_to project.features.count, project_features_path(project)
      %td= link_to FeatureSet.new(project.features.accepted_in_month(Time.now)).total_cost, project_billing_path(project)
      %td= link_to project.refreshed_at, project_refresh_path(project)
      %td= project.tracker_project_id
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%br

%h1 Your Tracker Project
%table
  %tr
    %th Name
    %th Tracker Project ID
    %th
  - @projects_not_in_roadmap.each do |tracker_project|
    %tr
      %td= tracker_project.name
      %td= tracker_project.id
      %td= link_to 'add to roadmap', new_project_path(:name => tracker_project.name, :tracker_project_id => tracker_project.id)
%br

= link_to 'New project', new_project_path