.billing-header
  .billing-summary-table
    %table.billing-summary
      %thead
        %tr
          %td Story Type
          %td Count
          %td Points
      %tbody
        %tr
          %td Features
          %td= @featureset.feature_types.count
          %td= @featureset.feature_cost

        %tr
          %td Bugs
          %td= @featureset.bug_types.count
          %td= @featureset.bug_cost

        %tr
          %td Chores
          %td= @featureset.chore_types.count
          %td= @featureset.chore_cost

        %tr.total
          %td TOTAL
          %td= @featureset.features.count
          %td= @featureset.total_cost

  .billing-text
    Showing #{@featureset.total_cost} points accepted for #{@project.name.capitalize} in period.

    %p Period Beginning: #{@period_start.strftime("%b %d %Y")}
    %p Period Ending: #{@period_end.strftime("%b %d %Y")}

%table.billing_detail
  %tr
    %th.date Accepted Date
    %th.longname Feature
    %th Points
    %th Developer
    - @featureset.features_by_accepted_date.reverse.each do |f|
      %tr
        %td= f.accepted_at.strftime("%m/%d/%y")
        %td= f.name
        %td= f.cost
        %td= f.owned_by