- sorted_data = @accepted_features_by_month.values.sort
%p Showing #{sorted_data.count} months of #{@project.name.capitalize}

= form_tag project_billing_path, :method => :get do
  %p
    %b Period Beginning:
    = text_field_tag :period_start, @period_start.strftime("%m-%d-%Y"), class: 'datepicker'

  %p
    %b Period Ending:
    = text_field_tag :period_end, @period_end.strftime("%m-%d-%Y"), class: 'datepicker'

%p
  View
  = link_to "Billing Detail", project_billing_detail_path(@project, period_begin: params[:period_begin], period_end: params[:period_end])
%table.flipstone-chart{chart_options('data-chart-is_stacked' => 'true')}
  %thead
    %tr
      %th Month
      - sorted_data.each do |month|
        %th= month.label

  %tbody
    %tr
      %th Features
      - sorted_data.each do |month|
        %td= month.total_estimate
    %tr
      %th Bugs
      - sorted_data.each do |month|
        %td= month.bug_types.count * Feature::BugCost
    %tr
      %th Chores
      - sorted_data.each do |month|
        %td= month.chore_types.count * Feature::ChoreCost

%table.billing
  %tr
    %th.month Month
    %th Total Points
    %th Features
    %th Bugs
    %th Chores
  - sorted_data.reverse.each do |month_set|
    %tr
      %td= month_set.label
      %td= month_set.total_cost
      %td= month_set.feature_types.count
      %td= month_set.bug_types.count
      %td= month_set.chore_types.count

:javascript
  $(function() {
    $( ".datepicker" ).datepicker({ dateFormat: 'mm-dd-yy' });
  });