= form_for [@project, @bundle] do |f|
  -if @bundle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bundle.errors.count, "error")} prohibited this bundle from being saved:"
      %ul
        - @bundle.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    -if params[:project_id]
      = f.text_field :project_id, :type => "hidden", :value => @project.id  
    -else 
      = f.label :project_id
      = f.text_field :project_id
  .actions
    = f.submit 'Save'