%h1 Listing bundles

%table
  %tr
    %th Name
    %th Total Estimates
    %th Unestimated
    %th Project ID
    %th
    %th 
  - @bundles.each do |bundle|
    %tr
      %td= bundle.name
      %td= bundle.estimates_total
      %td= bundle.unestimated_total
      %td= bundle.project_id
      %td= link_to 'Show', project_bundle_path(@project,bundle)
      %td= link_to 'Edit', edit_project_bundle_path(@project,bundle)
      %td= link_to 'Destroy', project_bundle_path(@project,bundle), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Bundle', new_project_bundle_path(@project)
