- set = FeatureSet.new(@features)
- label = params[:value] || ''
%h1 Showing #{@features.count} #{label} features

= flash[:notice]

= link_to "Refresh", refresh_path 
if data is out-of-date

%table
  %tr
    %th By Estimate
    %th Count
    %th Estimate
    %th Avg    
  %tr
    %td Estimated
    %td #{@features.count - set.unestimated_count}
    %td #{set.total_estimate} pts 
    %td #{format_float(set.average_estimated_size)} pts
  %tr
    %td Unestimated
    %td #{set.unestimated_count}
    %td #{set.unestimated_points.to_i}? pts 
    %td - 
  
%table
  %tr
    %th By Status
    %th Count
    %th Estimate
    %th Avg
  - [:unscheduled, :unstarted, :started, :accepted].each do |st|
    %tr
      %td= st.capitalize
      %td= set.count_in_state(st)
      %td #{set.total_in_state(st)} pts 
      %td -

%table
  %tr
    %th Name
    %th Estimate
    %th Project ID
    %th Labels
    %th Status
    %th{colspan:3} Actions

  - @features.each do |feature|
    %tr
      %td= feature.name
      %td= feature.estimate
      %td= feature.project_id
      %td
        - feature.labels.each do |tag|
          = link_to tag, tagged_features_path(value: tag)
      %td= feature.current_state
      - if feature.refreshed_at.present?
        %td{colspan: 3}
          = link_to 'Show', feature
      - else
        %td= link_to 'Schedule', feature
        %td= link_to 'Edit', edit_feature_path(feature)
        %td= link_to 'Destroy', feature, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Feature', new_feature_path
