%p#notice= notice

%table
  %tr
    %th Name
    %th Estimate
    %th Project ID
    %th Labels
    %th Status
    %th Tracker ID
    %tr
      %td= @feature.name
      %td= @feature.estimate
      %td= @feature.tracker_project_id
      %td
        - @feature.labels.each do |tag|
          = link_to tag, tagged_features_path(value: tag)
      %td= @feature.current_state
      %td= @feature.story_id

  - if @feature.story_id == nil
    = form_tag(schedule_path, method: :put) do
      %p 
        %span API Key:
        = text_field_tag :api_token
      %p 
        %span Project ID:
        = text_field_tag :tracker_project_id
      %p 
        %span 
        = hidden_field_tag 'feature_id', @feature.id
      = submit_tag 'Schedule Feature', 
        confirm: 'Are you sure?  This is synchronous for the moment'
      




= link_to 'Edit', edit_feature_path(@feature)
\|
= link_to 'Back', features_path