%p#notice= notice

%table
  %tr
    %th Name
    %th Type
    %th Estimate
    %th Labels
    %th Status
    %th Tracker ID
    %th Bundles
    %th Schedule
    %tr
      %td= @feature.name
      %td= @feature.story_type
      %td= @feature.estimate
      %td
        - @feature.labels.each do |tag|
          = link_to tag, tagged_project_features_path(@project,value: tag)
      %td
        = @feature.current_state
        - if @feature.accepted_at.present?
          (#{@feature.accepted_at.strftime("%m/%d/%y")})
      %td= @feature.story_id
      %td
        - @feature.bundles.each do |b|
          = b.name
      %td  
        - if @feature.story_id == nil
          = form_tag(project_schedule_path(@project), method: :post) do
            %p
              %span 
              = hidden_field_tag 'tracker_project_id', @project.tracker_project_id
            %p
              %span
              = hidden_field_tag 'feature_id', @feature.id
              = submit_tag 'Schedule Feature',
              confirm: 'Are you sure?  This is synchronous for the moment'

= link_to 'Edit', edit_project_feature_path(@project,@feature)
\|
= link_to 'Back', project_features_path
